{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container-xl">
        <div class="row">
            <p>Bookings</p>

            <h1>Courses</h1>

            {{ course }}
            <ul>
                {% for course in courses %}
                <li>
                    <strong>{{ course.name }}</strong> - {{ course.description }}
                </li>
                {% endfor %}
            </ul>

            <h1>Course Sessions</h1>
            <ul>
                {% for session in sessions %}
                <li>
                    <strong>{{ session.course.name }}</strong> - {{ session.start_time }} to {{ session.end_time }}
                    (Spots available: {{ session.spots_available }})
                </li>
                {% endfor %}
            </ul>


        </div>
        <div>  
            {% if sessions %}
                <h2>Select a Session</h2>
                {% for session in sessions %}
                    <form method="post">
                        {% csrf_token %}
                        <input type="hidden" name="selected_session" value="{{ session.id }}">
                        <input type="hidden" name="selected_course" value="{{ selected_course_id }}">
                        <button type="submit" class="session-slot">
                            {{ session.course.name }} {{ session.start_time }} to {{ session.end_time }} - Spots: {{ session.spots_available }}
                        </button>
                    </form>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock content %}