{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row mx-3 md-mx-5 justify-content-center">
    <h2 class="mt-3 text-center">What do we do?</h2>
    <h5 class="mb-3 mb-md-4 text-center">Come and join us!</h5>
</div> 
<div class="row justify-content-center">
    <hr class="col-8 mb-3 mb-md-4">
</div>
<div class="row mx-3 md-mx-5 justify-content-center">
    {% for course in courses %}
    <div class="card mx-sm-1 mx-md-2 mx-lg-3 mb-3 col-sm-5 col-md-5">
        {% if course.name == "Perler beads" %}
        <img src="{% static 'img/christmas.webp' %}" class="card-img-top" alt="{{ course.name }}">
        {% elif course.name == "Transforming treasures" %}
        <img src="{% static 'img/phone.webp' %}" class="card-img-top" alt="{{ course.name }}">
        {% elif course.name == "Our ultimate crafting experience" %}
        <img src="{% static 'img/lamp.webp' %}" class="card-img-top" alt="{{ course.name }}">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ course.name }}</h5>
            <p class="card-text">{{ course.description|safe }}</p>
            <button class="read-more">Read more &#62;&#62;</button>
        </div>
    </div>
    {% endfor %}
</div>    

<div class="row justify-content-center">
    <hr class="col-8 mt-2 mt-md-3">
</div>
<div class="row justify-content-center mx-3">
    <h2 class="my-4 text-center" id="book-more">Upcoming workshops</h2>
    {% for session in sessions %}
    <div class="col-10 col-sm-6 col-lg-3 mb-2 mb-sm-3">
        <!-- Button trigger modal -->
        <form method="post" action="{% url 'book_session' session.id %}" id="bookingForm-{{ session.id }}">
            {% csrf_token %}
            <button type="button" class="btn book-session-btn session-slot booking-btn py-3 {% if session.spots_available == 0 %}disabled{% endif %}" 
            {% if session.spots_available != 0 %} 
            data-session-id="{{ session.id }}" data-bs-toggle="modal" data-bs-target="#confirmationBookingModal"
            {% endif %}> 
                <div class="session-course-name">{{ session.course.name }}</div> <div>{{ session.start_time|date:"j F Y" }}</div>
                <div>{{ session.start_time|time:"H.i" }} - {{ session.end_time|time:"H.i" }}</div> Available spots: {{ session.spots_available }}
            </button>
        </form>
    </div>
    {% endfor %}
    <!-- Bootstrap Pagination -->
    <nav aria-label="Sessions pagination">
        <ul class="pagination justify-content-center">
        {% if sessions.has_previous %}
            <li class="page-item"><a class="page-link take-me-btn" href="?page={{ sessions.previous_page_number }}#book-more" aria-label="Previous">&laquo;</a></li>
        {% endif %}
    
        {% for num in sessions.paginator.page_range %}
            {% if sessions.number == num %}
                <li class="page-item active"><a class="page-link take-me-btn" href="?page={{ num }}#book-more">{{ num }}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link take-me-btn" href="?page={{ num }}#book-more">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
    
        {% if sessions.has_next %}
            <li class="page-item"><a class="page-link take-me-btn" href="?page={{ sessions.next_page_number }}#book-more" aria-label="Next">&raquo;</a></li>
        {% endif %}
        </ul>
    </nav>
</div>
<div class="row justify-content-center">
    <hr class="col-8 mt-2 mt-md-3">
</div>

<!-- Bootstrap modal for booking notification -->
<div class="modal fade" id="bookingNotificationModal" tabindex="-1" aria-labelledby="bookingNotificationModalLabel" aria-hidden="true" data-already-booked="{{ already_booked|lower }}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bookingNotificationModalLabel">Booking notice</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                You're a step ahead of yourself! You already have a booking for this workshop. Please choose a different one.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn take-me-btn" id="close-booking" data-bs-dismiss="modal" data-booking-url="{% url 'booking' %}">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirmation modal -->
<div class="modal fade" id="confirmationBookingModal" tabindex="-1" aria-labelledby="confirmationBookingModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationBookingModalLabel">Confirm Booking</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Fantastic! You've selected a workshop that will be a lot of fun! 
                Simply click 'Confirm' to proceed, and then you'll be able to view your bookings.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn cancel-btn" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn confirm-btn" id="confirmBooking">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/booking.js' %}"></script>
{% endblock script %}