{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-xl">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <div class="row">
        <h2>{{ user }}'s booked workshops</h2>
        <ul>
            {% for booking in bookings %}
            <li>
                Course Session: {{ booking.course_session.course.name }} - Booking Date: {{ booking.booking_date }}
                <!-- Edit Button -->
                <a href="{% url 'edit_booking' booking.id %}" class="btn btn-secondary">Edit</a>
               
                    <!-- Inline Form for Deletion -->
                <form action="{% url 'delete_booking' booking.id %}" method="post" onsubmit="return confirmDelete();">
                    {% csrf_token %}
                    <input type="hidden" name="booking_id" value="{{ booking.id }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </li>
            {% endfor %}
        </ul>
</div>
{% endblock %}