{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-10 mt-3 mx-auto">
        <h2 class="text-center">Thank you for your booking!</h2>
        <p>We're thrilled to confirm your booking and can't wait 
            to welcome you. Your spot has been reserved, and we're 
            all set to provide you with an exceptional experience. 
            If you have any questions or need further assistance 
            before your session, please don't hesitate to reach 
            out to us.
        </p>
    </div>
</div>

<div class="row justify-content-center">
    <hr class="col-8 mt-3 mb-4">
</div>

<div class="row">
    <div class="col-10 mt-3 mx-auto">
        <div class="d-flex flex-wrap justify-content-center">
            <a href="{% url 'my_bookings' %}" class="btn me-2 mb-1 take-me-btn">View my bookings</a>
            <a href="{% url 'home' %}" class="btn d-none d-md-block home-btn me-2 mb-1"><i class="fa-solid fa-house"></i></a>
            <a href="{% url 'booking' %}#book-more" class="btn me-2 mb-1 take-me-btn">Book another workshop</a>
        </div>
    </div>
</div>
{% endblock %}