{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-10 mt-3 mx-auto">
        <h2 class="text-center">Thank you for your booking!</h2>
        <p>
            Oh, Happy Day! Your booking's locked in, and our excitement is bouncing 
            off the walls. Literally, we've got the dents to prove it! Your VIP spot is reserved 
            (we rolled out the red carpet and everything). We're gearing up to dazzle you with 
            an experience so exceptional, it'll knock your socks off (please wear socks). 
            Got a burning question or need a hand (or a high-five)? Give us a shout! 
            We're here faster than you can say "Help, I've booked an adventure and I can't stay calm!" 
        </p>
    </div>
</div>

<div class="row justify-content-center">
    <hr class="col-8 mt-3 mb-4">
</div>

<div class="row">
    <div class="col-10 mt-3 mx-auto">
        <div class="d-flex flex-wrap justify-content-center">
            <a href="{% url 'my_bookings' %}" class="btn me-2 mb-1 take-me-btn">View my bookings</a>
            <a href="{% url 'home' %}" class="btn d-none d-md-block home-btn me-2 mb-1"><i class="fa-solid fa-house"></i></a>
            <a href="{% url 'booking' %}#book-more" class="btn me-2 mb-1 take-me-btn">Book another workshop</a>
        </div>
    </div>
</div>
{% endblock %}