{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row mx-3 md-mx-5 justify-content-center">
        <h2 class="mt-3 text-center">Staff news</h2>
        <h5 class="mb-3 mb-md-4 text-center">What have we been up to lately?</h5>
    </div> 
    <div class="row justify-content-center">
        <hr class="col-8">
    </div>
    <div class="row md-mx-5 justify-content-center">
        {% for news_item in object_list %}
            <div class="col-md-9 mb-4 px-4 {% if forloop.counter|divisibleby:2 %}darker-card{% endif %}">
                <h3 class="pt-4">{{ news_item.title }}</h3>
                <h6>{{ news_item.course }}</h6>
                <p>{{ news_item.content }}</p>
                <p>Written by: {{ news_item.author }}</p>
                <p>Published: {{ news_item.created_on }}</p>
            </div>
            <div class="row justify-content-center">
                <hr class="col-8 mb-3 mb-md-4">
            </div>
        {% empty %}
            <p>No news articles found.</p>
        {% endfor %}
    </div>

{% endblock content %}