/* Fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Dosis:wght@200..800&display=swap');

/* General styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #cacaca;
    color: #353535;
    font-family: 'Dosis', sans-serif;
  }

main {
    background-color: #cacaca;
    flex: 1 0 auto;
}


/* Images */
.logo-img {
    width: 90px;
}

.profile-img {
    width: 80%;
    border-radius: 50%;
}

.card-img-top {
    margin-top: 12px;
    border-radius: 10%;
}


/* About page */
.custom-form input[type="text"],
.custom-form input[type="email"],
.custom-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 5px; 
}

.submit-btn {
    background-color: #cacaca;
    color: #353535;
    font-weight: 500;
}

.submit-btn:hover {
    background-color: #6d6d6d;
}

/* Booking page */
.more {
    display: none;
}

.card, .booking-btn, .about-text, .my-bookings {
    background-color: #353535;
    color: #cacaca;
}


.read-more {
    background-color: #353535;
    color: #cacaca;
    font-weight: 600;
    border: none;
}

.booking-btn {
    width: 100%;
    min-height: 153px;
}

.booking-btn:hover {
    background-color: #a0a0a0;
}

.cancel-btn {
    background-color: #411919;
    color: #ffffff;    
}

.confirm-btn {
    background-color: #193a18;
    color: #ffffff;
}

/* My bookings */
.my-bookings {
    display: flex;
    flex-direction: column; 
    border-radius: 5%;
    min-height: 238px;
}

.stick-to-bottom {
    margin-top: auto; /* Pushes the div to the bottom */
}

/* Footer */
.fa-brands, 
.fa-regular {
    color: #000000;
}

.delete-btn {
    background-color: #9e3e3e;
    color: #ffffff;
}

.delete-btn:hover {
    background-color: #8a3636;
}

/* Media query */

@media (min-width: 1024px) {
    .card {
        width: 30%;
    }
  }