

body {
    min-height: 100vh;
  }

main {
    flex: 1 0 auto;
}

/* Navbar */
.container-fluid {
    padding: 8px 30px 5px 30px;
}



/* Images */
.logo-img {
    width: 90px;
}

.profile-img {
    width: 80%;
    border-radius: 50%;
}

.card-img-top {
    margin-top: 12px;
    border-radius: 10%;
}


/* Booking page */
.more {
    display: none;
}


/* Footer */
.fa-brands, 
.fa-regular {
    color: #000000;
}