{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row craft-shop mt-2 mb-lg-4">
        <div class="col-md-8 col-lg-6 my-5 mx-auto">
            <div class="w-100 px-5 py-4 rounded members">
                <h2>Whoops! This page must have cracked under pressure!</h2>
                <p>
                    Ahoy there, friend! Looks like you've wandered into a no-man's land, 
                    quite similar to sitting on a stool with one leg too short. A tad uncomfortable, 
                    isn't it? We're sorry for this wobbly experience - it seems the page you were looking 
                    for has gone missing, perhaps taking a break after supporting too much content.
                </p>
                <p>
                    While we can't offer you a three-legged stool to sit on and ponder the mysteries of the internet, 
                    here's what you can do to find more stable seating:
                </p>
                <p>
                    Hop back on the sturdy chair of our homepage - It's perfectly balanced, we promise! If you believe this page should 
                    exist, let us know and we'll try to mend the stool, or at least point you in the right direction. Remember, every 
                    adventurer encounters a broken stool along their journey. It's what you do next that counts. Will you mend it, 
                    find another, or invent a whole new way to sit? The choice is yours!
                </p>
                <a href="{% url 'home' %}" class="btn submit-btn">Return to stability (a.k.a. homepage)</a>
            </div>
        </div>
    </div>
{% endblock content %}