{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Hero image with welcome text -->
<div class="row hero-img mt-2 mb-lg-4">
    <div class="col-md-6 my-5 mx-auto">
        <div class="w-100 px-5 py-4 members rounded">
            <h3>Step into the magic world of upcycling</h3>
            <p>
                In our fast-paced world, we all need an oasis to nurture ourselves and rejuvenate our belongings. 
                Here, we transform forgotten items into decorative treasures and empower individuals to unleash their creative potential.
            </p>
            <a href="{% url 'booking' %}" class="btn submit-btn">Check out available workshops</a>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <hr class="col-8 mt-5 mb-4 mb-lg-5">
</div>

<!-- Member benefits -->
<div class="flower-power mt-2 py-5">
    <div class="row">
        <div class="col-10 col-md-8 mx-auto mt-4 mb-3 members rounded">
            <div class="pt-4 pb-2 px-4 px-md-5 mx-auto">
                <h3 class="text-center">Member benefits</h3>
                <p>
                    Embark on a crafting journey that knows no bounds! As a privileged member of our cosmic crafting 
                    community, you've unlocked the portal to endless creativity.
                </p>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-8 col-sm-5 p-4 mx-2 mb-2 mb-sm-0 member-or-not rounded">
            <h5 class="px-1 text-center">For our future members &#x1F64B;</h5>
            <ul class="member-list">
                <li><i class="fa-regular fa-circle-check"></i> Inspiration gathering</li>
                <li><i class="fa-regular fa-circle-xmark"></i> Book Workshops</li>
                <li><i class="fa-regular fa-circle-xmark"></i> Edit Bookings</li>
                <li><i class="fa-regular fa-circle-xmark"></i> Cancel Bookings</li>
                <li><i class="fa-regular fa-circle-xmark"></i> View Your Bookings</li>
            </ul>
        </div>
        <div class="col-8 col-sm-5 p-4 mx-2 mb-2 mb-sm-0 members member-or-not rounded">
            <h5 class="px-1 text-center">For our esteemed members &#x1F451;</h5>
            <ul class="member-list">
                <li><i class="fa-regular fa-circle-check"></i> Inspiration gathering</li>
                <li><i class="fa-regular fa-circle-check"></i> Book Workshops</li>
                <li><i class="fa-regular fa-circle-check"></i> Edit Bookings</li>
                <li><i class="fa-regular fa-circle-check"></i> Cancel Bookings</li>
                <li><i class="fa-regular fa-circle-check"></i> View Your Bookings</li>
            </ul>
        </div>
    </div>
    
    {% if not user.is_authenticated %}
        <div class="row">
            <div class="col-10 col-md-8 mx-auto mt-4 mb-3 members rounded">
                <div class="pt-4 pb-2 px-4 px-md-5 mx-auto">
                    <p>
                        Ah, we see that twinkle in your eye! The irresistible pull of creativity has got you in 
                        its grasp, hasn't it? Don't fight it; embrace the allure of endless crafting adventures! 
                        Go on, press that sign-up button. Your future self, decked out in glitter and wielding a 
                        paintbrush like a magic wand, will thank you!
                    </p>
                    <div class="d-flex justify-content-center">
                        <a href="{% url 'account_signup' %}" class="btn submit-btn mb-3">Sign up</a>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<div class="row justify-content-center">
    <hr class="col-8 my-5">
</div>

<!-- Image carousel -->
<div class="row justify-content-center mx-auto">
    <div class="col-auto mb-3">
        <div id="carouselExample" class="carousel slide start-carousel">
            <div class="carousel-inner rounded">
                <div class="carousel-item active">
                    <img src="https://res.cloudinary.com/dihkuau3v/image/upload/v1709735167/frisa-booking/cookie-stand.webp" class="d-block w-100" alt="Cookie stand of vinyl records">
                    <div class="mask">
                        <div class="d-flex flex-column justify-content-center align-items-center h-100">
                            <h3 class="text-mask pt-3 mb-md-3 text-center">Fancy some inspiration?</h3>
                            <p class="text-mask mx-md-5 px-4 text-center">We offer inspiration for everyone! Explore our collection and let the creativity surge within you!</p>
                        </div>
                    </div>
                </div>              
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dihkuau3v/image/upload/v1709735167/frisa-booking/cookie-stand.webp" class="d-block w-100" alt="Cookie stand of vinyl records">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dihkuau3v/image/upload/v1709732381/frisa-booking/bb8.webp" class="d-block w-100" alt="BB8 perler beads">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dihkuau3v/image/upload/v1709735167/frisa-booking/ericofon.webp" class="d-block w-100" alt="Lamp made of an Ericofon">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dihkuau3v/image/upload/v1709735167/frisa-booking/flower-pot.webp" class="d-block w-100" alt="Flower pot made of cassette tapes">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dihkuau3v/image/upload/v1709735167/frisa-booking/headphones.webp" class="d-block w-100" alt="Headphone stand made of VHS videocassettes">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dihkuau3v/image/upload/v1709735167/frisa-booking/mario.webp" class="d-block w-100" alt="Super Mario perler beads">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dihkuau3v/image/upload/v1709735169/frisa-booking/yoshi-train.webp" class="d-block w-100" alt="Super Mario and Yoshis in perler beads">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dihkuau3v/image/upload/v1709735166/frisa-booking/coffee-filter.webp" class="d-block w-100" alt="Coffee filter holder in LEGO">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dihkuau3v/image/upload/v1709735168/frisa-booking/r2d2.webp" class="d-block w-100" alt="R2D2 perler beads">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dihkuau3v/image/upload/v1709735168/frisa-booking/remote-stand.webp" class="d-block w-100" alt="Remote stand made by cassette tapes">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dihkuau3v/image/upload/v1709735169/frisa-booking/star.webp" class="d-block w-100" alt="Star perler beads">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dihkuau3v/image/upload/v1709735169/frisa-booking/toilet-paper.webp" class="d-block w-100" alt="Toilet paper holder made of an old iron">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dihkuau3v/image/upload/v1709735169/frisa-booking/yoshi.webp" class="d-block w-100" alt="Yoshi perler beads">
                </div>
                <div class="carousel-item">
                    <img src="https://res.cloudinary.com/dihkuau3v/image/upload/v1709735168/frisa-booking/vinyl-stand.webp" class="d-block w-100" alt="Holder to screwdrivers made of vinyl">
                </div>
            </div>
            <button class="carousel-control-prev arrow" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span aria-hidden="true"><i class="fa-solid fa-chevron-left fa-2xl"></i></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span aria-hidden="true"><i class="fa-solid fa-chevron-right fa-2xl"></i></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    <hr class="col-8 my-4 mt-lg-5">
</div>

{% endblock content %}