<div id="contact-form">
    <h2>Any questions?</h2>
    <p>
        I love questions! If you have any questions, don't hesitate to contact me. 
        Do you want to book a course for a larger group? No problem, just send me 
        a message and we will work it out!
    </p>
    <form method="post" action="." class="custom-form" data-hx-post="." data-hx-target="#contact-form" data-hx-swap="outerHTML">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-end">
            <button class="btn submit-btn">Submit</button>
        </div>
    </form>
</div>